@page "/users/view/{id:min(1)}"
@model Bugger.Pages.Users.DetailsModel
@{
}

<h1>Details</h1>

<form class="mt-4">
    <fieldset>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">ID</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.UserId" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Username</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.UserName" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Password</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.Password" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Name</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.FullName" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Email</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.EmailAddress" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Administrator</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.isAdmin" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Deleted</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.isDeleted" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">DeleteDate</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.DeleteDate" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">AddDate</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.AddDate" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">LastUpdateUserID</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.LastUpdateUserID" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">LastUpdateDate</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.SingleUser.LastUpdateDate" readonly="">
            </fieldset>
        </div>
        <a asp-page="index" class="btn btn-primary">Back</a>
    </fieldset>
</form>