@page
@model Bugger.Pages.Users.IndexModel
@{
}

<h1>Users</h1>

<p></p>

@if (Model.Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var User in Model.Users)
            {
                <tr>
                    <td>@User.UserName</td>
                    <td>@User.FullName</td>
                    <td>@User.EmailAddress</td>
                    <td>@User.Created.ToShortDateString()</td>
                    <td>
                        <a asp-page="/Users/Details" asp-route-ID="@User.Id">View</a> | 
                        <a asp-page="/Users/Edit" asp-route-ID="@User.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h6>Number of records: @Model.Users.Count()</h6>
}
